/* Chat Component */
.Chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0rem;
    width: 100%;
    left: 0%;
}

.Chat2 {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 80px; /* Matches navbar height */
    height: calc(100vh - 80px); /* Subtract navbar height */
    overflow: hidden;
}

.FriendsContainer {
    flex: 0.7; /* Adjust the width of the FriendsContainer */
    border-right: solid 1px rgb(25 69 69 / 48%);
    height: 100%;
    max-width: 25rem;
    overflow-y: auto;
    
}


.ChatContainer {
    flex: 1.7; /* Takes the remaining space */
    /* border: solid 1px rgb(20 40 40); */
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: black;
}

.EmptyChatContainer {
    flex: 1.7; /* Takes the remaining space */
    /* border: solid 1px rgb(20 40 40); */
    height: 100%;
    overflow-y: auto;
    display: grid;
    align-items: center;
}

@media (max-width: 768px) {
    .Chat2 {
        flex-direction: column;
    }

    .FriendsContainer, .ChatContainer {
        flex: 1;
        max-width: 100%;
    }

}

.EmptyChatspan1{
        font-family: system-ui;
        color: green;
}


.ChatHeader{
    border-bottom: solid 1px rgb(25 69 69 / 48%);
    border-top: solid 1px rgb(25 69 69 / 48%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-right: 2rem;
    padding-left: 2rem;
}


.MessageBar{

    border: solid 2px rgb(25 69 69 / 75%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    height: 4rem;
    border-radius: 33px;

    input[type="file"]{
       border-radius: 2rem;
       width: 4rem;
    }

    input[type="text"]{
        width: 40rem;
        border: none;
        height: 3rem;
        background-color: black;
    }

}

.MessageBarParent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 48%;
    border-radius: 33px;
    background-color: black;
    height: 4rem;
}

.MessageContainer{
    height: 48rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.MessageContainer::-webkit-scrollbar {
  width: 8px;
}

.MessageContainer::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 8px;
}

.MessageContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.MessageContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.message-image-preview {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin: 5px 0;
}


.download-button {
  background-color: #25d366; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px 0;
}

.download-button:hover {
  background-color: #128c7e;
}


@media (max-width: 600px) {
  .sentMessage, .receivedMessage {
    max-width: 90%;
  }

  .image-preview {
    max-height: 150px;
  }

  .download-button {
    font-size: 14px;
    padding: 6px 10px;
  }
}



.loader-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progress {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-left: 10px;
  position: relative;
  height: 6px;
}

.progress-bar {
  height: 6px;
  width: 0;
  background-color: #25d366;
  animation: loading 2s linear infinite;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}



.custom-file-upload {
    cursor: pointer;
    display: inline-block;
    height: 40%;
  }
  
.custom-file-upload img {
    width: 24px; 
    height: 24px;
}

.MessageBarButton{
    padding: 0.75rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    border-radius: 5px;
  }


  .MessageBarcustom-input {
    border: 1px solid gray;
    font-size: 20px;
  }
  
  .MessageBarcustom-input:focus {
    outline: none;
    border-color: gray;
  }

  .MessageBarcustom-input::placeholder {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  @media (max-width: 600px) {
    .MessageBar {
      max-width: 100%;
      padding: 8px;
    }
  
    .MessageBarcustom-input {
      font-size: 14px;
      padding: 8px;
    }
  
    .MessageBar img {
      width: 20px;
      height: 20px;
    }
  }

  .file-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
  }

  .fileDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 50%; */
  }

  .file-name{
    font-size: 16px;
    color: white;
  }

  .file-size{
    font-size: 12px;
    color: #a0a0a0;
    margin-top: 2px;
  }

  .cancel-button{
    background-color: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
  }

  .cancel-button:hover{
    text-decoration: underline;
  }


  .ChatHeaderProfilePic{
    cursor: pointer;
  }

  .ChatHeaderLeft{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .ChatHeaderRight{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  


  .FriendDetailModalParent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .FriendDetailModalChild{
    width: 25rem;
  }

  .FriendDetailModalprofile-pic{
    width: 25%; 
    height: 25%; 
    border-radius: 50%; 
    object-fit: cover;
  }



  .goBackLabel{
    width: 15%;
    display: flex;
    height: 2rem;
    cursor: pointer;
  }

  .goBackIcon{
    width: 100%;
  }

  .UnFriendButton:focus {
    outline: none;
    border-color: gray;
  }



.dateDivider{
  text-align: center;
  font-size: 14px;
  color: grey;
  margin: 10px 0;
  font-weight: bold;
}


.sentMessage, .receivedMessage{
  margin-bottom: 7px;
  margin-top: 0px;
}



  
.sendMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  background-color: #dcf8c6;
  min-width: 15%;
  max-width: 75%;
  border-radius: 20px 20px 0 20px;
  color: black;
  padding: 10px 15px;
  margin: 5px;
  word-break: break-word;
  font-size: 16px;
  display: inline-block;
  white-space: pre-wrap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-wrap: break-word;
}

.receivedMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  background-color: #f8f8f8;
  min-width: 15%;
  max-width: 75%;
  border-radius: 20px 20px 20px 0;
  color: black;
  padding: 10px 15px;
  margin: 5px;
  word-break: break-word;
  font-size: 16px;
  display: inline-block;
  white-space: pre-wrap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-wrap: break-word;
}

.sendMessageContainer .timestamp, .receivedMessageContainer .timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}


@media screen and (max-width: 768px) {
  .sentMessageContainer,
  .receivedMessageContainer {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .sentMessageContainer,
  .receivedMessageContainer {
    max-width: 90%;
    font-size: 14px;
  }
}



.UnFriendModalBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




.videocallmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000;
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
  overflow: hidden; /* Prevent scrolling when modal is open */
}

/* Modal content styling */
.videocallmodal-content {
  background: rgba(20, 40, 40);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  width: 90%; /* 90% of screen width on smaller screens */
  max-width: 500px; /* Max width for larger screens */
  animation: modal-appear 0.3s ease; /* Smooth modal pop-up */
  position: relative;
}

/* Close button */
.videocallmodal-content .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Smooth fade-in animation */
@keyframes modal-appear {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .videocallmodal-content {
    padding: 1.5rem; /* Slightly smaller padding on mobile */
    width: 95%; /* Almost full width on mobile */
  }

  .videocallmodal-content .close-btn {
    top: 8px;
    right: 10px;
    font-size: 1.25rem;
  }
}

/* Button styling inside the modal */
.videocallmodal-content button {
  background-color: rgba(28, 48, 48, 0.808);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.videocallmodal-content button:hover {
  background-color: #159b58;
}


.VideoCallOn{
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* ------------------------------------------------------------------ */
/* {Friends Container} */




/* ------------------------------------------------------------------ */
/* {Chat Container} */


/* ------------------------------------------------------------------ */
/* {EmptyChat Container} */



